<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <div style="margin:0.5rem 0 1rem;">
      <%= link_to "Show this post", post %>
      <% if current_user && post.user_id == current_user.id %>
        | <%= link_to "Edit", edit_post_path(post) %>
        | <%= button_to "Destroy", post, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, form_class: "inline" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
